.Toastify__toast-container--top-right {
  top: 6em;
  right: .5em;
}

.ReminderWidget {
  margin-top: -25px;
  min-height: 20em;
  color: black;
  padding-left: 1em;
  background-color: white;
}

.Toastify__toast-container {}
